*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}


.container-achei{
    width: 100%;
    min-height: calc(100vh - 80px);
    background-color: #121212;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fafafa;
}


.lista-itens{
    height: 100%;
    width: 100%;
    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 5px;
    margin: 20px 20px 50px 20px;
}

.titulo-container{
    font-size: 32px;
    font-weight: bold;
}

.item{
    width: 230px;
    height: 230px;
    background-color: rgb(33, 33, 33);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;

}

.titulo-item{
    margin: 10px 10px 0 10px; 
    background-color: rgb(33, 33, 33);

}

.img-item{

  width: 100%;
  max-width: 400px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;

}

.link-item{
    height: 35px;
    width: 100%;
    background: linear-gradient(90deg, #1877f2, #6200ff);
    color: #fafafa;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.link-item:hover{
    transition: all 0.5s;
   background: linear-gradient(90deg, #6200ff, #1877f2);
}