.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #121212;
  border-top: 1px solid #383838;
  color: #fafafa;
  font-size: 0.95rem;
  gap: 25px;
  height: 100px;

}

.footer a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #1877f2;
  border-bottom: 1px solid #1877f2;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
